# Absolute rules
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/doc/reference/blocaled*
!/doc/reference/blocaled-docs.xml
!/doc/reference/blocaled-sections.txt
/doc/reference/html/
/doc/reference/xml/
/gtk-doc.make
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/blocaled
/stamp-h1
/test-driver

# Relative rules
locale1-generated*
Makefile
Makefile.in
*.o
*.swp
*~
*.py[oc]
.deps/
*.service
.dirstamp
*.stamp
