# Absolute rules
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/Makefile
/Makefile.in
/missing
/blocaled
/stamp-h1
/src/locale1-generated.[ch]

# Relative rules
*.o
*.swp
*~
*.py[oc]
.deps/
*.service
.dirstamp
