<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">

<policyconfig>
    <vendor>blocaled</vendor>
    <vendor_url>https://github.com/pierre-labastie/blocaled</vendor_url>

    <action id="org.freedesktop.locale1.set-locale">
        <description>Set system locale environment variables</description>
        <message>System policy prevents modifying the system locale environment variables.</message>
        <defaults>
            <allow_any>auth_admin_keep</allow_any>
            <allow_inactive>auth_admin_keep</allow_inactive>
            <allow_active>auth_admin_keep</allow_active>
        </defaults>
    </action>

    <action id="org.freedesktop.locale1.set-keyboard">
        <description>Set system keyboard layout</description>
        <message>System policy prevents modifying the system keyboard layout.</message>
        <defaults>
            <allow_any>auth_admin_keep</allow_any>
            <allow_inactive>auth_admin_keep</allow_inactive>
            <allow_active>auth_admin_keep</allow_active>
        </defaults>
    </action>
</policyconfig>
