<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">

<policyconfig>
    <vendor>Gentoo Linux</vendor>
    <vendor_url>http://www.gentoo.org/proj/en/desktop/gnome/openrc-settingsd.xml</vendor_url>

    <action id="org.freedesktop.hostname1.set-hostname">
        <description>Set local host name</description>
        <message>System policy prevents modifying the local host name.</message>
        <defaults>
            <allow_any>auth_admin_keep</allow_any>
            <allow_inactive>auth_admin_keep</allow_inactive>
            <allow_active>auth_admin_keep</allow_active>
        </defaults>
    </action>

    <action id="org.freedesktop.hostname1.set-static-hostname">
        <description>Set statically configured local host name and pretty host name</description>
        <message>System policy prevents modifying the statically configured local host name or pretty host name.</message>
        <defaults>
            <allow_any>auth_admin_keep</allow_any>
            <allow_inactive>auth_admin_keep</allow_inactive>
            <allow_active>auth_admin_keep</allow_active>
        </defaults>
    </action>

    <action id="org.freedesktop.hostname1.set-machine-info">
        <description>Set local machine information</description>
        <message>System policy prevents modifying the local machine information.</message>
        <defaults>
            <allow_any>auth_admin_keep</allow_any>
            <allow_inactive>auth_admin_keep</allow_inactive>
            <allow_active>auth_admin_keep</allow_active>
        </defaults>
    </action>
</policyconfig>
